@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
    
/** ---------------------- GENERAL ---------------------- **/
    
html {
    min-height: 100%;
}
    
body {
    background: #7aa7ad;
    color: #1a1a1a;
    font-size: 2rem;
    font-family: "Quicksand";
    background-attachment: fixed;
}

.admin {
    background: #030002;
    color:  #00ff41;
}

h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    margin-top: 0;
    margin-bottom: 1rem;
    user-select: none;
    width: 2rem;
    height: 2rem;
}

.container {
    margin-top: 1rem;
}
    
/** ---------------------- NAVBAR ---------------------- **/
    
.navbar {
    z-index: 1;
    background: #96c8d0;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 5px solid #ffd700;
    border-image-slice: 1;
    width: 100%;
    height: 3em;
    font-size: 1rem;
}
    
.navbar-expand {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

.nav-item {
    display: block;
    color: #000000;
    text-align: left;
    padding: 16px;
    text-decoration: none;
    border-left: 50px;
    /*margin-left: 2em;
    /*vertical-align: bottom;*/
}

    
.nav-link {
    color: #000000;
    padding: 20px;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    font-family: "Quicksand";
    font-size: 2.5vw;
    font-weight: bold;
    color: #565656;
    text-shadow: 0px 0px 0px #e6e6e6;
    letter-spacing: 0.15em;
    margin-top: 0.5em;
}
    
.nav-link:hover {
    color: #6d6d6d;
}

.current-page {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-decoration: none;
    text-align: left;
    vertical-align: middle;
    font-family: "Quicksand";
    font-size: 2.5vw;
    font-weight: bold;
    color: #000000;
    text-shadow: 0px 0px 0px #e6e6e6;
    letter-spacing: 0.15em;
    margin-top: 0.5em;
}
    
img.logo {
    max-height: 2.5vw;
    vertical-align: middle;
}


/** ---------------------- If Else ---------------------- **/

.valid {
    color: #ff0000;/*#7aa7ad;*/
    font-size: 2rem;
    user-select: none;
}