<!DOCTYPE html>
	<html lang="en">
	    <head>
			<link rel='stylesheet' href='/static/bootstrap.min.css'>
			<link rel='stylesheet' href='/static/styles.css'>
	        <meta charset="UTF-8">
	        <title>Encrypt Password</title>
	    </head>
	    <body>
			<!-- navigation bar -->
			<nav class="navbar navbar-expand">
				<div class="collapse navbar-collapse">
					<a href="/"><img class="logo" src="/static/logo.png" alt="logo"></a>
					<a class="nav-link" href="/">HOME</a>
					<a class="current-page">ENCRPYT</a>
					<a class="nav-link" href="/view-list">VIEW</a>
				</div>
			</nav>
	        <form method="post">
	            <label for="account" style="font-size: 3rem; margin-bottom: 0;"><b>Account:</b></label>
	            <br />
	            <input type="text" id="account" name="account">
	            <br />
	            <label for="password" style="font-size: 3rem; margin-bottom: 0;"><b>Password:</b></label>
	            <br />
	            <input type="text" id="password" name="password">
	            <br />
	            <input type="submit" value="Encrypt">
				<a href="/view-list">
					<input type="button" value="View All Accounts">
				</a>
	        </form>
			{% if acct_valid and pwd_valid %}
				<p class="valid" style="display: none;">
					<b>:D</b>
				</p>
			{% elif not acct_valid %}
				<p class="valid">
					<b>Error: No account provided.</b>
				</p>
			{% elif not pwd_valid %}
				<p class="valid">
					<b>Error: No password provided.</b>
				</p>
			{% endif %}
	    </body>
	</html>