<!DOCTYPE html>
	<html lang="en">
	    <head>
            <link rel='stylesheet' href='/static/bootstrap.min.css'>
			<link rel='stylesheet' href='/static/styles.css'>
	        <meta charset="UTF-8">
	        <title>TriVon Password Security</title>
	    </head>
	    <body>
			<!-- navigation bar -->
			<nav class="navbar navbar-expand">
				<div class="collapse navbar-collapse">
					<a><img class="logo" src="/static/logo.png" alt="logo"></a>
					<a class="current-page">HOME</a>
					<a class="nav-link" href="/encrypt-password">ENCRPYT</a>
					<a class="nav-link" href="/view-list">VIEW</a>
					<menu class="navbar-nav">
				</div>
			</nav>
	        <h1>TriVon Password Manager (Alpha Testing)</h1>
	        <p>TriVon will easily encrypt your passwords, so you don't have to!</p>
			<a href="/encrypt-password">
				<input type="submit" value="Go to password manager">
			</a>
	    </body>
	</html>